<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% block title %}<title>A simple app for mining Common Crawl data by Akshay Bhat</title>{% endblock %}
    <meta name="description" content="Data mining hobby Blog">
    <meta name="author" content="Akshay Bhat">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
	<link href="/static/css/bootstrap.responsive.css" rel="stylesheet">
	<link href="/static/css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/static/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-touch-icon-114x114.png">
	<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<!--[if lte IE 8]>
      <script language="javascript" type="text/javascript" src="/static/js/excanvas.min.js"></script>
      <![endif]-->
	<script src="/static/js/underscore-min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.tablesorter.min.js"></script>
      <script src="/static/js/pagescripts.js"></script>
	{% block script %}
	{% endblock %}
  </head>
  
<body>
    <div class="navbar" style="margin-bottom:10px">
      <div class="navbar-inner" style="margin-bottom:0px;" >
        <div class="container">
          <a class="brand" href="/" style="width:400px;">Crawl Miner</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li ><a href="/">Home</a></li>
              <li ><a  href="https://github.com/AKSHAYUBHAT/CommonCrawl">GitHub</a></li>
              <li><a href="http://www.akshaybhat.com">Akshay Bhat</a></li>
            </ul>
          </div>
        </div>
		<hr style="margin-bottom:5px" />
      </div>
    </div>
    <div class="container">
        {% block content %}
		{% endblock %}
	<div class="row r-non-top-bottom-pad">
      <hr style="margin: 0px 0px 10px 0px;">
	</div>
      <footer>
	  <p> &copy; <a href="http://www.akshaybhat.com">Akshay Uday Bhat</a> 2013, All Rights Reserved.</p>
      </footer>
    </div>
	<script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-3947560-10', 'datamininghobby.com');
        ga('send', 'pageview');
      {% block ejscript %}
      {% endblock %}
    </script>
  </body>
</html>