


.hero_li {
	margin-top:20px;
	margin-right:10px;
}

table.tablesorter {

}

table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right:20px;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
	padding-right:20px;
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
	padding-right:20px;
}

body
  {
	padding-bottom: 40px;
 }
.hero-unit
  {
	background-color: #fff;
 }

 footer
 {
	text-align: center;
}

th
{
	text-align: center;
}

.row
 {
	margin-top: 30px;
	margin-bottom:15px;
}

.table .noborder {
	border-color:rgba(0,0,0,0);
}
.dropdown-menu a
{
	cursor:pointer;
	text-decoration:none;
}

.countlabel
{
	color:grey;
	padding-bottom:5px;
}

.minilabel
{
	font-size:14px;
	color:grey;
	padding-bottom:5px;
}

.padcell
{
	text-align:left !important;
	padding-left:25px !important;
}

.r-non-top-bottom-pad
{
	margin-top: 0px !important;
	margin-bottom: 1px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.tablelabel
{
	text-align:center;
	padding-bottom:10px !important;

}

.hvalue
{
	font-size:24px !important;
}

.halfmargin
 {
	margin-top: 15px !important;
	margin-bottom:7px !important;
}

.pagebuttons {
display: inline-block;
font-size:12px;
width: 75px;
text-align:left;
margin:  5px 0 12px 0;

}

.buttonsspan
{
text-align:right;
}

.verticalbar {
height: 200px;
margin-top: 0px;
left: -50px;
position: absolute;
width: 2px;
background: #CCC;
top: 0px;
z-index: 1000;
}

.brand {
font-size: 42px !important;
padding-bottom: 8px !important;
}

.example_list_item {
    font-size: 14px !important;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:7px;
}

.justifiedp{
    text-align:justify;
}

.exampleli
{
    padding-top:6px;
    padding-bottom:7px;
}
.exampleli a
{
    font-style:italic;
}

.refli
{
    padding-top:5px;
    padding-bottom:7px;
}
.shift5
{
    margin-left:7px;
}
.cmp1
{
    text-align: right !important;
    padding-right:16px !important;
}