{% extends "base_generic.html" %}
{% block title %}<title>Admin interface</title>{% endblock %}
{% block script %}
        <script>

        $(
            function(){
                $("#projects_table").tablesorter({ sortList: [[1,0]] });
                $("#indexer_table").tablesorter({ sortList: [[1,0]] });
            });

        </script>
{% endblock %}
{% block content %}

<div class="row">
    <div class="span8 offset2">
        <h2 style="text-align:center">Admin Panel</h2>
        <hr style="margin: 0px 0px 10px 0px;">
    </div>
</div>
{% if status_error %}
<div class="row">
    <div class="span12 alert alert-error">
            {{ statu_error }} <span class="close" data-dismiss="alert">×</span>
    </div>
</div>
{% endif %}
{% if status_success %}
<div class="row">
    <div class="span12 alert alert-success">
            {{ status_success }} <span class="close" data-dismiss="alert">×</span>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="span4">
        <h3 class="countlabel">Current time</h3>
        <h3 class="hvalue" style="text-align:right;padding-top:5px"> {{ current_time }}</h3>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h3>
           List of current projects
        </h3>
    </div>
</div>
<div class="row halfmargin">
    <div class="span12">
        <table class="table table-bordered table-striped tablesorter" id="projects_table">
            <thead>
                <th>Project name</th>
                <th>Project type</th>
                <th>Current queue position</th>
                <th>Number of indexers</th>
                <th>Number of files processed</th>
                <th>Number of entries generated</th>
            </thead>
            <tbody>
                {% for k,v in project_list.items() %}
                    <tr><td>{{ k }}</td>
                        <td>{{ v.1 }}</td>
                        <td style="text-align:right;padding-right:20px">{{ v.2}}</td>
                        <td style="text-align:right;padding-right:20px">{{ v.3}}</td>
                        <td style="text-align:right;padding-right:20px">{{ v.4}}</td>
                        <td style="text-align:right;padding-right:20px">{{ v.5}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="span12">
        <h3>
           List of current indexers
        </h3>
    </div>
</div>
<div class="row halfmargin">
    <div class="span12">
        <table class="table table-bordered table-striped tablesorter" id="indexer_table">
            <thead>
                <th>Project name</th>
                <th>id</th>
                <th>Time of first contact</th>

                <th>Last contact</th>
                <th>Number of files</th>
                <th>Number of entries</th>
                <th>Details</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for i in indexer_list %}
                    <tr>
                        <td>{{  i.0 }}</td>
                        <td style="text-align:right;padding-right:20px">{{ i.1 }}</td>
                        <td style="text-align:right;padding-right:20px">{{ i.2 }}</td>
                        <td style="text-align:right;padding-right:20px">{{ i.3 }}</td>
                        <td style="text-align:right;padding-right:20px"> {{ i.4 }}</td>
                        <td style="text-align:right;padding-right:20px"> {{ i.5 }}</td>
                        <td style="text-align:center"><a href="/Admin/Info/{{ i.1 }}">details</a></td>
                        <td style="text-align:center"><a href="/Admin/Delete/{{ i.1 }}">delete</a></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">

</div>
{% endblock %}


