{% extends "base_generic.html" %}
{% block title %}<title>A simple app for mining Common Crawl data by Akshay Bhat</title>{% endblock %}
{% block script %}
        <script>
            $(function(){});
        </script>
{% endblock %}
{% block content %}
    <div class="row halfmargin" id="status">
    </div>

    <div class="row">
    <div class="span12">
        <h3>
           List of current projects
        </h3>
    </div>
</div>
<div class="row halfmargin">
    <div class="span12">

    </div>
</div>


<div class="row">
    <div class="span12">
        <h3>
           List of current indexers
        </h3>
    </div>
</div>
<div class="row halfmargin">
    <div class="span12">
    </div>
</div>

{% endblock %}

