{% extends "base_generic.html" %}
{% block title %}<title>Trawl Search: A simple app for mining Common Crawl data by Akshay Bhat</title>{% endblock %}
{% block script %}
        <script>
        </script>
{% endblock %}
{% block content %}
    <div class="row halfmargin" id="status">
    </div>
    <div class="row">

    </div>
<div class="row halfmargin">
            <div class="span8 offset2">

            </div>
    </div>
<div class="row" id="result_row">


</div>
{% endblock %}

