{% extends "base_generic.html" %}
{% block title %}<title>Trawl Search: A simple app for mining Common Crawl data by Akshay Bhat</title>{% endblock %}
{% block script %}
        <script>
        var current_results = [];

        function submit(){
            q =$('#query');
                $.ajax({
                  dataType: "json",
                  url: '/Search/',
                  data: {'q':q.val(),'project_type':$('#project_type').val()},
                  success: function(response,status){current_results.push(response);}
                   });
            q.val("")
            return false;
        };
            $(
            function(){
                $('#search_btn').click(submit);
                $("#projects_table").tablesorter({ sortList: [[0,0]] });
                $("#indexer_table").tablesorter({ sortList: [[0,0]] });
            });

        </script>
{% endblock %}
{% block content %}
    <div class="row halfmargin" id="status">
    </div>
<div class="row">
            <div class="span10 offset1">
                <form >
                    <input type="text" name="q" placeholder="Enter search terms. E.g. laptop, apple, mac book pro" id="query" class="span7">
                    <div class="control-group" style="display:inline-block;">
                      <div class="controls">
                        <select id="project_type" name="project_type" class="input-large">
                        {% for k,v in project_list.items() %}
                            <option>{{ k }}</option>
                        {% endfor %}
                        </select>
                      </div>
                    </div>
                    <button style="display:inline-block;margin-bottom:9px;" class="btn" id="search_btn">Search</button>
                </form>
            </div>
    </div>
<div class="row" id="result_row" style="display:none">
</div>
    <div class="row">
    <div class="span12">
            <hr>

        <h3>
           List of current projects
        </h3>
    </div>
</div>
<div class="row halfmargin">
    <div class="span12">
        <table class="table table-bordered table-striped tablesorter" id="projects_table">
            <thead>
                <th>Project name</th>
                <th>Project type</th>
                <th>Current queue position</th>
                <th>Number of indexers</th>
                <th>Number of files processed</th>
                <th>Number of entries generated</th>
            </thead>
            <tbody>
                {% for k,v in project_list.items() %}
                    <tr><td>{{ k }}</td>
                        <td>{{ v.1 }}</td>
                        <td style="text-align:right;padding-right:20px">{{ v.2}}</td>
                        <td style="text-align:right;padding-right:20px">{{ v.3}}</td>
                        <td style="text-align:right;padding-right:20px">{{ v.4}}</td>
                        <td style="text-align:right;padding-right:20px">{{ v.5}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="row">
    <div class="span12">
        <h3>
           List of current indexers
        </h3>
    </div>
</div>
<div class="row halfmargin">
    <div class="span12">
        <table class="table table-bordered table-striped tablesorter" id="indexer_table">
            <thead>
                <th>Project name</th>
                <th>id</th>
                <th>Last contact</th>
                <th>Number of files</th>
                <th>Number of entries</th>
            </thead>
            <tbody>
                {% for i in indexer_list %}
                    <tr>
                        <td>{{  i.0 }}</td>
                        <td style="text-align:right;padding-right:20px">{{ i.1 }}</td>
                        <td style="text-align:right;padding-right:20px">{{ i.2 }}</td>
                        <td style="text-align:right;padding-right:20px"> {{ i.3 }}</td>
                        <td style="text-align:right;padding-right:20px"> {{ i.4 }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

