{% extends "base_generic.html" %}
{% block title %}<title>Trawl Search: A simple app for mining Common Crawl data by Akshay Bhat</title>{% endblock %}
{% block script %}
        <script>
        var current_results = [];

        function submit(){
                $.ajax({
                  dataType: "json",
                  url: '/Search/',
                  data: {'q':$('#query').val()},
                  success: function(response,status){current_results.push(response);}
                   });
            $('#query').val("")
            return false;
        };
            $(
            function(){
                $('#search_btn').click(submit);
            });
        </script>
{% endblock %}
{% block content %}
    <div class="row halfmargin" id="status">
    </div>
<div class="row halfmargin">
            <div class="span8 offset2">
                <form >
                    <input type="text" name="q" placeholder="Enter search terms. E.g. laptop, apple, mac book pro" id="query" class="span7" style="margin-top: 8px;">
                    <button style="display:inline-block;margin-left: 5px;" class="btn" id="search_btn">Search</button>
                </form>
            </div>
    </div>
<div class="row" id="result_row">


</div>
{% endblock %}

